{% extends "default.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">
		<div class="columns is-mobile">
  			<div class="column is-half is-offset-one-quarter">
<p>
Este es un chatbot simple construido en python con los siguientes elementos:
</p>

<ul>
	<li>Interfaz: basada en Flask y la librería socketio</li>
	<li>Inteligencia: basada en reglas del tipo pyAMIM</li>
	<li>Conversaciones: todas las conversaciones se guardan en un json</li>
</ul>

			</div>
		</div>
	</div>
</section>
{% endblock %}
