{% extends "default.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">
		<div class="columns is-mobile">
  			<div class="column is-half is-offset-one-quarter">
<h2>
Agenda para {{username}}
</h2>

	<table class="table">
	  <thead>
	      <tr>
		        <th>Evento</th>
		        <th>Fecha</th>
		        <th>Hora</th>
		        <th>Lugar</th>
			</tr>
	 </thead>
	 <tbody>
		{% for ev in events %}
	      <tr>
		  		<th>{{ev.about}}</th>
		  		<th>{{ev.date}}</th>
		  		<th>{{ev.hour}}</th>
		  		<th>{{ev.place}}</th>
		  </tr>
		{% endfor %}
	 </tbody>
	 </table>

			</div>
		</div>
	</div>
</section>
{% endblock %}
